
    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
        grid-gap: 1rem;
    }

    .card {
        width: 100%;
        margin-bottom: 1rem;
        
    }

    .overlay-dark {
        background-color: rgba(black, 0.4);
    }

    .bgImg::after {
        background-color: rgba(0,0,0,0.8);
    }
