{% extends 'rootpage.html' %}
{% load static %}
{% block content %}
<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About SportScribe</span>
                        <h2>We are Creative Sports Enthusiast working since 2015</h2>
                    </div>
                    <div class="text">At SportsScribe, we strive to provide a comprehensive platform for sports enthusiasts </div>
                  <div class="text">
                    here you can stay informed and engaged with your favorite sports and teams. Whether you're a die-hard fan or a casual observer, our goal is to cater to your sporting needs.


                  </div>
                    <div class="btn-box">
                        <a href="/contact" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                  <div class="author-desc">
                    <h2>SportsScribe</h2>
                    <span>A sports blog app</span>
                  </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Rahul Kumar Yadav" src="https://cdn.nba.com/teams/uploads/sites/1610612743/2023/06/tyson.jpg" alt=""></a></figure>
                 
                </div>
            </div>
          
        </div>
       <div class="sec-title">
                        <span class="title">Our Future Goal</span>
                        <h2>To bring you up-to-date articles, match reports, player profiles, and much more. </h2>
                    </div>
      <div class="text">
        With SportsScribe, you can dive deep into the world of sports through our insightful editorials, engaging interviews, and captivating stories. We aim to go beyond the scores and statistics, offering a unique perspective on the games, athletes, and the impact of sports on society.
          </div>
           <div class="text">
            Whether you're looking for breaking news, in-depth analysis, or simply want to join a community of fellow sports enthusiasts, SportsScribe has got you covered. Stay connected with us to experience the excitement, drama, and passion that make sports so special.


          </div>
           <div class="text">                
            Our dedicated team of writers and contributors work tirelessly to bring you up-to-date articles, match reports, player profiles, and much more. We cover a wide range of sports, including football, basketball, cricket, tennis, and many others.
           <div class="text">
            Here you can also share the content you create, if our technical team likes it, then we will also share it on our blog.
          </div>
           <div class="text">
            
In the end, I would say keep visiting our website and enjoy the quality content.
          </div>
    </div>
</section>
{% endblock %}